/*-- Grid --*/

.show-grid {
  margin-bottom: 15px;
}

.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #efefff;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.row .col-lg-6 h2 {
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 500;
  color: #262125;
  border-bottom: none;
}

.row .col-lg-6 h2 a {
  color: #262125;
}

.row .col-lg-6 h2 a:hover,
.row .col-lg-6 h2 a:focus {
  color: #777;
}

.row .col-lg-6 p {
  margin-bottom: 6px;
  margin-left: 0;
}

/*-- Code snippets --*/

code {
  font-size: 93%;
  color: #dd1144;
  white-space: normal;
  background: transparent;
}

pre {
  display: block;
  margin: 10px 0 20px;
  font-size: 93%;
  color: #262125;
  background: #f4f4f4;
  border: #e5e5e5 solid 1px;
  border-radius: 4px;
}

output pre {
  display: none;
  /* hidden until > 480px */

}

output pre.nowrap {
  display: none;
  /* hidden until > 1200px */

  white-space: pre;
}

/* Reveals code only when we have real estate to do so */

@media (min-width: 481px) {
  output pre {
    /* hidden until > 480px */
  
    display: block;
    margin: -10px 0 20px;
    font-size: 13px;
    color: #777;
    background: #f4f4f4;
    border: #e5e5e5 solid 1px;
    border-radius: 6px;
  }
}

@media (min-width: 1200px) {
  output pre.nowrap {
    display: block;
    white-space: pre;
  }
}
