/*
 *
 * Table of Contents
 *
 * Scaffolding
 * Navigation
 * Background
 * Headings
 * Sidebar
 * Services
 *
 */

/*-- Scaffolding --*/

html,
body {
  width: 100%;
  height: 100%;
}

a,
a:hover,
a:focus {
  color: #fff;
}

.btn-info {
  width: 124px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #222;
  text-shadow: none;
  text-transform: uppercase;
  background-color: #fff;
  background-image: none;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  box-shadow: none;
  padding: 14px;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  width: 124px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #222;
  text-shadow: none;
  text-transform: uppercase;
  background-color: #fff;
  background-image: none;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  box-shadow: none;
  padding: 14px;
}

.btn-primary {
  color: #222;
  background-color: #fff;
  border-color: #fff;
}

.btn-lg {
  font-size: 12px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #222;
  background-color: #fff;
  border: 1px solid #aaa;
}

a#get-started.btn.btn-info.btn-lg {
  width: 124px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #fff;
  text-shadow: none;
  text-transform: uppercase;
  background-color: #c75a48;
  background-image: none;
  border: 1px solid #a0483a;
  border-radius: 4px;
  box-shadow: none;
  padding: 14px;
}

@media (min-width: 768px) {
  a#get-started.btn.btn-info.btn-lg {
    width: 170px;
    font-size: 14px;
    margin-right: 20px;
    letter-spacing: 1px;
  }
  .btn-info {
    width: 170px;
    font-size: 14px;
    margin-right: 20px;
    letter-spacing: 1px;
  }
  .btn-info:hover,
  .btn-info:focus,
  .btn-info:active {
    width: 170px;
    font-size: 14px;
    margin-right: 20px;
    letter-spacing: 1px;
  }
}

/*-- Navigation --*/

.docs-nav {
  height: 74px;
  border: none medium;
  box-shadow: none;
}

.navbar-brand {
  margin-top: -45px;
  padding: 15px 0;
}

.container {
  margin-top: 0;
  text-align: left;
}

.header {
  position: relative;
  display: table;
  width: 100%;
  height: 85%;
}


/*-- Background --*/

.docs-home {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../img/bg@768.jpg");
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../img/bg@768.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../img/bg@768.jpg");
  background-color: #222;
  background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

@media (min-width: 768px) {
  .docs-home {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("http://s12.postimg.org/61a0hibb1/image.jpg");
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("http://s12.postimg.org/61a0hibb1/image.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("http://s12.postimg.org/61a0hibb1/image.jpg");
  background-color: #222;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  }
}

/*-- Headings --*/

.masthead h1 {
  padding: 0;
  margin-left: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  text-transform: none;
  margin-top: 10px;
}

.masthead .lead {
  margin-right: 0%;
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 1.1;
  letter-spacing: 0;
}

.masthead {
  padding-bottom: 0px;
}

@media (min-width: 768px) {
  .masthead {
    padding-bottom: 40px;
  }

  .masthead h1 {
    padding: 0;
    margin-left: 0;
    font-size: 100px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -4px;
    text-transform: none;
    margin-top: 100px;
  }
  .masthead .lead {
    margin-right: 25%;
    margin-bottom: 60px;
    font-size: 38px;
    line-height: 1.1;
    letter-spacing: -0.5px;
  }
}

/*-- Sidebar --*/

#sidebar-wrapper {
  position: fixed;
  right: 0;
  z-index: 1000;
  width: 250px;
  height: 100%;
  margin-top: 7px;
  margin-right: -250px;
  overflow-y: auto;
  background: none repeat scroll 0 0 #222;
  -webkit-transition: all .4s ease 0;
     -moz-transition: all .4s ease 0;
      -ms-transition: all .4s ease 0;
       -o-transition: all .4s ease 0;
          transition: all .4s ease 0;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all .4s ease 0;
     -moz-transition: all .4s ease 0;
      -ms-transition: all .4s ease 0;
       -o-transition: all .4s ease 0;
          transition: all .4s ease 0;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  margin-top: 6px;
  line-height: 43px;
  text-indent: 20px;
}

.sidebar-nav li a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 40px;
  font-size: 14px;
  line-height: 40px;
}

.sidebar-nav > .sidebar-brand a {
  color: #ccc;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
}

#menu-toggle {
  position: fixed;
  top: 10px;
  right: 4px;
  z-index: 1;
}

.toggle {
  margin: 5px 5px 0 0;
}

/*-- Services --*/

.services {
  padding: 50px 0;
  color: #fff;
  background: #7fbbda;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 56px;
  line-height: 136px;
  text-align: center;
  vertical-align: middle;
  border: 3px solid #fff;
  border-radius: 50%;
}

i.service-icon:hover {
  font-size: 68px;
}


