/* Styles for widescreen 1280x800 (landscape), Ratio: 8:5 */

@media (min-width: 1280px) {
  .sidebar.affix-bottom,
  .sidebar.affix {
    width: 263px;
  }
  .masthead-links {
    text-align: center;
  }
}

/* Styles for tablets 768x1024 (portrait), Ratio: 3:4 */

@media (min-width: 768px) {

  .masthead-links {
    text-align: center;
    font-size: 13px;
  }
  .sidenav.affix {
    position: static;
    display: inline;
  }
  .masthead {
    text-align: left;
    padding-top:    140px;
    padding-bottom: 140px;
  }
  .masthead h1 {
    font-size: 80px;
  }
  .masthead .lead {
    margin-right: 0%;
    font-size: 36px;
  }
  .docs-home {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../img/bg@768.jpg");
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../img/bg@768.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../img/bg@768.jpg");
  background-color: #222;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  }
}

/* Styles for mobile phones 320x480 (portrait), Ratio: 2:3  */

@media (min-width: 320px) {
  .masthead-links {
    text-align: center;
    font-size: 13px;
  }
  .sidenav.affix {
    position: static;
  }
  .navbar-nav {
    float: left;
    margin: 10px 0;
  }
  .navbar > .container .navbar-brand {
    margin-left: 0;
  }
  .masthead {
    text-align: left;
    padding-top:    80px;
    padding-bottom: 40px;
  }
  .masthead h1 {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 1.2;
  }
  .masthead .lead {
    margin-right: 0%;
    font-size: 21px;
  }
  .docs-home {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../img/bg@320.jpg");
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../img/bg@320.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../img/bg@320.jpg");
  background-color: #222;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  }
  a#get-started.btn.btn-info.btn-lg {
    width: 124px;
    font-size: 12px;
    margin-right: 10px;
  }
  .btn-info {
    width: 124px;
    font-size: 12px;
    margin-right: 10px;
  }

  .btn-info:hover,
  .btn-info:focus,
  .btn-info:active {
    width: 124px;
    font-size: 12px;
    margin-right: 10px;
  }
}

/* Styles for Retina-type displays */
/*
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
}
*/
