/*
*
* Table of Contents
*
* Scaffolding
* Thumbails
* Navigation
* Typography
* Grid
* Dropdown
* Footer
* Masthead
* Theme
*
*/

/*-- Scaffolding --*/

body {
  position: relative;
  padding-top: 50px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

a {
  color: #21759b;
}

a:hover,
a:focus {
  color: #7f8c8d;
  text-decoration: none;
}

/*-- Thumbnails --*/

.img-thumbnail {
  height: 354px;
  margin-top: 10px;
  margin-bottom: 20px;
}

img#custom-height.img-thumbnail {
  height: 500px;
  margin-top: 0;
}

/*-- Navigation: Navbar --*/

.docs-nav {
  background-color: #fff;
  background-image: linear-gradient(#ffffff, #f9f9f9);
  border-color: #eee;
  -webkit-box-shadow: 0 0 6px rgba(52, 73, 94, 0.1);
     -moz-box-shadow: 0 0 6px rgba(52, 73, 94, 0.1);
          box-shadow: 0 0 6px rgba(52, 73, 94, 0.1);
}

.navbar > .container .navbar-brand {
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 0;
}

.docs-nav .navbar-brand {
  color: #fff;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: -12px;
  }
}

/*-- Navigation: Sidebar --*/

#sidebar-wrapper {
  position: fixed;
  right: 0;
  z-index: 1000;
  width: 18em;
  height: 100%;
  margin-top: 57px;
  margin-right: -18em;
  overflow-y: auto;
  background: none repeat scroll 0 0 #777;
  -webkit-transition: all .6s ease 0;
     -moz-transition: all .6s ease 0;
      -ms-transition: all .6s ease 0;
       -o-transition: all .6s ease 0;
          transition: all .6s ease 0;
}

#sidebar-wrapper.active {
  right: 18em;
  width: 18em;
  -webkit-transition: all .6s ease 0;
     -moz-transition: all .6s ease 0;
      -ms-transition: all .6s ease 0;
       -o-transition: all .6s ease 0;
          transition: all .6s ease 0;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 18em;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  margin-top: 0.5em;
  line-height: 43px;
  text-indent: 1.5em;
}

.sidebar-nav li a {
  display: block;
  color: #e5e5e5;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar.affix {
  position: static;
}

.sidebar .nav > li > a {
  display: block;
  padding: 5px 20px;
  font-size: 14px;
  letter-spacing: 0;
  color: #7f8c8d;
}

.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  text-decoration: none;
  background: #e5e5e5;
  border-right: none;
}

.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  font-weight: 400;
  color: #262125;
  background-color: transparent;
  border-right: none;
}

.fa.fa-reorder {
  font-size: 17px;
}

#menu-toggle {
  position: fixed;
  top: 10px;
  right: 4px;
  z-index: 1;
  padding-right: 10px;
  background-color: #777;
  border-color: #777;
}

.toggle {
  margin: 5px 5px 0 0;
}

a#menu-toggle.btn.btn-primary.btn-lg.toggle {
  color: #fafafa;
}

@media (min-width: 992px) {
  .sidebar .nav > .active > ul {
    display: block;
  }
  .sidebar.affix,
  .sidebar.affix-bottom {
    width: 213px;
  }
  .sidebar.affix {
    position: fixed;
    top: 80px;
  }
  .sidebar.affix-bottom {
    position: absolute;
  }
  .sidebar.affix-bottom .sidenav,
  .sidebar.affix .sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .sidebar.affix-bottom,
  .sidebar.affix {
    width: 263px;
  }
}

.sidenav {
  padding: 10px 0;
  margin-top: 30px 0;
  font-size: 14px;
  background: #f2f2f2;
  border-radius: 5px;
}

/*-- Typography --*/

h1[id] {
  padding-top: 80px;
  margin-top: -45px;
}

h1,
.h1 {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-family: "dejarip", "Lucida Grande", sans-serif;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: -0.4px;
  text-rendering: optimizeLegibility;
  border-bottom: 1px solid #e5e5e5;
}

h2,
.h2 {
  padding-bottom: 0;
  margin: 40px 0 10px;
  font-family: "dejarip", "Lucida Grande", sans-serif;
  font-size: 30px;
  letter-spacing: -0.2px;
  text-rendering: optimizeLegibility;
}

h3,
.h3 {
  padding-top: 10px;
  font-family: "dejarip", "Lucida Grande", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

h4,
.h4 {
  margin: 20px 0 4px;
  font-family: "dejarip", "Lucida Grande", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

p {
  margin-bottom: 14px;
  font-size: 14px;
}

ul,
ol {
  margin-bottom: 14px;
}

blockquote p {
  font-size: 13px;
  color: #777;
}

.header {
  padding: 0 0 35px;
}

.fa {
  display: inline;
  padding-right: 8px;
}

/*-- Grid --*/

.row .col-lg-6 h2 {
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 500;
  color: #262125;
  border-bottom: none;
}

.row .col-lg-6 h2 a {
  color: #262125;
}

.row .col-lg-6 h2 a:hover,
.row .col-lg-6 h2 a:focus {
  color: #777;
}

.row .col-lg-6 p {
  margin-bottom: 6px;
  margin-left: 0;
}

/*-- Code --*/

code {
  font-size: 93%;
  color: #dd1144;
  white-space: normal;
  background: transparent;
}

pre {
  display: block;
  margin: 10px 0 20px;
  font-size: 96%;
  color: #262125;
  background: #f4f4f4;
  border: #e5e5e5 solid 1px;
  border-radius: 4px;
}

/* hidden until > 480px */

output pre {
  display: none;
}

/* hidden until > 1200px */

output pre.nowrap {
  display: none;
  white-space: pre;
}

/* Reveals code only when we have real estate to do so */

/* hidden until > 480px */

@media (min-width: 481px) {
  output pre {
    display: block;
    margin: -10px 0 20px;
    font-size: 13px;
    color: #777;
    background: #f4f4f4;
    border: #e5e5e5 solid 1px;
    border-radius: 6px;
  }
}

/* hidden until = 1200px */

@media (min-width: 1200px) {
  output pre.nowrap {
    display: block;
    white-space: pre;
  }
}

/*-- Tables --*/

.table th small,
.responsive-utilities th small {
  display: block;
  font-weight: 400;
  color: #999;
}

table#no-borders.table.table-hover > thead {
  color: #262125;
  background: transparent;
  border: none;
}

table#no-borders.table.table-hover > thead > tr > th {
  color: #262125;
  text-align: left;
}

.table thead {
  background: #333;
  border: #333 solid 1px;
}

.table thead > tr > th {
  color: #fff;
  text-align: center;
  border-color: #333;
}

.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td {
  border: #ccc solid 1px;
}

div#component-table.table-responsive {
  width: 65%;
}

/*-- Dropdown --*/

button#version-selector.btn.dropdown-toggle {
  width: 170px;
  padding: 5px 20px;
  font-size: 13.5px;
  color: #fff;
  background-color: #e44f38;
}

/*-- Footer --*/

.footer {
  padding: 3em 0;
  margin-top: 100px;
  font-weight: 300;
  text-align: center;
  background: transparent;
  border-top: 1px solid #eee;
}

.footer a {
  color: #aaa;
  text-decoration: none;
}

.footer a:hover,
.footer a:focus {
  color: #777;
}

@media (min-width: 768px) {
  .footer {
    padding: 3em 0;
    text-align: left;
  }
}

/*-- Masthead --*/

.masthead-links {
  padding: 0 65px 0 0;
  margin: -25px 0 0;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  text-align: center;
  text-transform: none;
  list-style: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .masthead-links {
    font-size: 13.5px;
  }
}

@media (min-width: 320px) {
  .masthead-links {
    padding: 0;
    font-size: 13.5px;
  }
}

/*-- Theme --*/

.btn-lg,
.lead,
.row .col-lg-6 p a {
  font-size: 1em;
}
