<!DOCTYPE html>
<html lang="en">
  <head> 
    
    {% include header.html %}
  
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
      
      {% include main.html %}
    
    </header>
    <div class="header" id="content"></div>
    <div class="container docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="sidebar hidden-print" role="complementary">
            <ul class="nav sidenav">    
              
              {% if page.slug == "page-1" %}
                {% include nav-page-1.html %}
              {% elsif page.slug == "page-2" %}
                {% include nav-page-2.html %}
              {% elsif page.slug == "page-3" %}
                {% include nav-page-3.html %}
              {% endif %}
            
            </ul>
          </div>
        </div>
        <div class="col-md-9" role="main">
          
          {{ content }}
        
        </div>
      </div>
    </div>
    <footer class="footer" role="contentinfo">
      <div class="container">
        <div class="masthead-links">
          
          <a href="{{ site.www }}">© 2013 [company name]</a> &middot; 
          <a href="{{ site.license }}">License</a> &middot; 
          <a href="{{ site.forum }}">[forum]</a> &middot; 
          <a href="{{ site.blog }}">[blog]</a> &middot; 
          <a href="{{ site.support }}">[support]</a>    
        
        </div>
      </div>
        
        {% include footer.html %}
    
    </footer>
  </body>
</html>
