<script src="{{ page.baseurl }}js/jquery-1.10.2.min.js"></script>
<script src="{{ page.baseurl }}js/bootstrap.min.js"></script>
<script src="{{ page.baseurl }}js/holder.min.js"></script>
<script src="{{ page.baseurl }}js/application.js"></script>
<script src="{{ page.baseurl }}js/affix.js"></script>
<script src="{{ page.baseurl }}js/collapse.js"></script>
<script src="{{ page.baseurl }}js/scrollspy.js"></script>

<!-- Side Menu -->
<script>
  $("#menu-close").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
  });
</script>
<script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
        || location.hostname == this.hostname) {

        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
</script>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40037365-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>