<script type="text/javascript" src="{{ page.baseurl }}scripts/modernizr.scripts"></script>
<script type="text/javascript" src="{{ page.baseurl }}scripts/holder.scripts"></script>
<script type="text/javascript" src="{{ page.baseurl }}scripts/affix.scripts"></script>
<script type="text/javascript" src="{{ page.baseurl }}scripts/collapse.scripts"></script>
<script type="text/javascript" src="{{ page.baseurl }}scripts/scrollspy.scripts"></script>
<script type="text/javascript" src="{{ page.baseurl }}scripts/sidemenu.scripts"></script>

<!-- Google Universal Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.scripts','ga');

  ga('create', 'UA-40037365-2', 'softlayer.github.io');
  ga('send', 'pageview');
</script>