<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="openstack, jumpgate, IBM, innovation, sldn, softlayer, open source, api, github, openstack compatibility api, python">
<meta name="description" content="Founded in 2005, SoftLayer is a cloud infrastructure provider.">
<meta name="author" content="SoftLayer, an IBM Company">
<link type="text/plain" href="{{ page.baseurl }}humans.txt" rel="author">

<!-- Scripts -->
<script type="text/javascript" src="//use.typekit.net/lzt3exy.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<script type="text/javascript" src="{{ page.baseurl }}scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{{ page.baseurl }}scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ page.baseurl }}scripts/application.js"></script>
{% if page.slug == "landing" %}<script type="text/javascript" src="{{ page.baseurl }}scripts/payload.js"></script>{% endif %}

<title>
  {% if page.title == "Jumpgate" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; Jumpgate
  {% endif %}
</title>

<!-- Styles -->
<link type="image/png" href="{{ page.baseurl }}images/favicon.png" rel="shortcut icon">

<link type="text/css" href="{{ page.baseurl }}styles/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="{{ page.baseurl }}styles/font-awesome.min.css" rel="stylesheet">
<link type="text/css" href="{{ page.baseurl }}styles/syntax.min.css" rel="stylesheet">
<link type="text/css" href="{{ page.baseurl }}styles/pages.css" rel="stylesheet">
{% if page.slug == "landing" %}<link type="text/css" href="{{ page.baseurl }}styles/landing.css" rel="stylesheet">{% endif %}

