<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="keywords" content="openstack, chef-openstack, IBM, innovation, sldn, softlayer, open source, chef, api, github, recipes, compatibility">
<meta name="description" content="Founded in 2005, SoftLayer is a cloud infrastructure provider.">
<meta name="author" content="SoftLayer, an IBM Company">
<link type="text/plain" href="{{ page.baseurl }}humans.txt" rel="author">

<title>
  {% if page.title == "Jumpgate" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; Jumpgate
  {% endif %}
</title>

<script type="text/javascript" src="//use.typekit.net/lzt3exy.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<link type="text/css" href="{{ page.baseurl }}css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="{{ page.baseurl }}css/font-awesome.min.css" rel="stylesheet">
<link type="text/css" href="{{ page.baseurl }}css/pages.css" rel="stylesheet">
{% if page.slug == "landing" %}<link type="text/css" href="{{ page.baseurl }}css/landing.css" rel="stylesheet">{% endif %}

<link type="image/png" href="{{ page.baseurl }}img/favicon.png" rel="shortcut icon">
