<a id="menu-toggle" href="#" class="btn btn-primary btn-lg pull-right toggle"><i class="fa fa-bars"></i></a>
<div class="container">
	<a type="image/png" href="{{ page.baseurl }}"><img src="{{ page.baseurl }}img/logo-white.png" class="navbar-brand"></a>
</div>
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
	  <a id="menu-close" href="#" class="btn btn-primary btn-lg pull-right toggle"><i class="fa fa-bars"></i></a>
		<li {% if page.slug == "getting-started" %} class="active" {% endif %}><a href="{{ page.baseurl }}getting-started">Getting Started</a></li>
		<li {% if page.slug == "release-notes" %} class="active" {% endif %}><a href="{{ page.baseurl }}release-notes">Release Notes</a></li>
		<li {% if page.slug == "learn-more" %} class="active" {% endif %}><a href="{{ page.baseurl }}learn-more">Learn More</a></li>
  </ul>
</div>