<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="{{ page.baseurl }}"><img src="{{ page.baseurl }}img/logo-black.png" class="navbar-brand"></a>
    </div>
      <nav class="collapse navbar-collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li{% if page.slug == "getting-havana" %} class="active"{% endif %}><a href="{{ page.baseurl }}getting-havana">Getting Started</a></li>
           <li{% if page.slug == "release-notes" %} class="active"{% endif %}><a href="{{ page.baseurl }}release-notes">Release Notes</a></li> 
            <li{% if page.slug == "contributing" %} class="active"{% endif %}><a href="{{ page.baseurl }}contributing">Contributing</a></li>
        </ul>
      </nav>
  </div>
</header>