<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><img src="{{ page.baseurl }}img/favicon42x42.png"></a>
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li {% if page.slug == "getting-havana" %} class="active" {% endif %}><a href="{{ page.baseurl }}getting-havana">Getting Started</a></li>
        <li {% if page.slug == "release-notes" %} class="active" {% endif %}><a href="{{ page.baseurl }}release-notes">Release Notes</a></li>
        <li {% if page.slug == "contributing" %} class="active" {% endif %}><a href="{{ page.baseurl }}contributing">Contributing</a></li>
        <li><a href="{{ site.repo }}">Code</a></li>
    </ul>
  </div>