<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a type="image/png" href="{{ page.baseurl }}"><img src="{{ page.baseurl }}images/logo-black.png" class="navbar-brand"></a>
    </div>
      <nav class="collapse navbar-collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li{% if page.slug == "get-started" %} class="active"{% endif %}><a href="{{ page.baseurl }}get-started">Get Started</a></li>
           <li{% if page.slug == "developer-guide" %} class="active"{% endif %}><a href="{{ page.baseurl }}developer-guide">Developer Guide</a></li> 
              <li{% if page.slug == "learn-more" %} class="active"{% endif %}><a href="{{ page.baseurl }}learn-more">Learn More</a></li>
        </ul>
      </nav>
  </div>
</header>