<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-reorder"></i></a>
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
	  <li {% if page.slug == "get-started" %} class="active" {% endif %}><a href="{{ page.baseurl }}get-started">Get Started</a></li>
      <li {% if page.slug == "documents" %} class="active" {% endif %}><a href="{{ page.baseurl }}developer-guide">Developer Guide</a></li>
      <li {% if page.slug == "learn-more" %} class="active" {% endif %}><a href="{{ page.baseurl }}learn-more">Learn More</a></li>
      <li><a href="{{ site.repo }}" target="_blank">GitHub Repo</a></li>
      <li><a href="{{ site.license }}" target="_blank">License</a></li>
  </ul>
</div>
<div class="container">
  <img src="{{ page.baseurl }}images/logo-white.png" class="navbar-brand"></a>
</div>