<li><a href="#purpose">Purpose</a></li>
<li><a href="#your_first_driver">Your First Driver</a></li>
<li><a href="#the_index_endpoint">The Index Endpoint</a></li>
<li><a href="#the_tokens_endpoint">The Tokens Endpoint</a></li>
<li><a href="#configuring">Configuring</a>
  <ul class="nav">
    <li><a href="#next_steps">Next Steps</a></li>
  </ul>
</li>
<li><a href="#useful_tools">Useful Tools</a>
  <ul class="nav">
    <li><a href="#additional_documentation">Additional Documentation</a></li>
  </ul>
</li>
<li><a href="#compatibility">Compatibility</a>
	<ul class="nav">
		<li><a href="#identity">Identity</a></li>
		<li><a href="#compute">Compute</a></li>
		<li><a href="#images">Images</a></li>
		<li><a href="#block_storage">Block Storage</a></li>
	</ul>
</li>