    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-reorder"></i></a>
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li {% if page.slug == "get-started" %} class="active" {% endif %}>
              <a href="{{ page.baseurl }}get-started"><i class="fa fa-wrench"></i>Get Started</a></li>
          <li {% if page.slug == "documents" %} class="active" {% endif %}>
              <a href="{{ page.baseurl }}developer-guide"><i class="fa fa-cog"></i>Developer Guide</a></li>
          <li {% if page.slug == "learn-more" %} class="active" {% endif %}>
              <a href="{{ page.baseurl }}learn-more"><i class="fa fa-book"></i>Learn More</a></li>
          <li><a href="{{ site.star }}"><i class="fa fa-star"></i>Star Our Repo</a></li>
          <li><a href="{{ site.fork }}"><i class="fa fa-code-fork"></i> Fork Our Repo</a></li>
          <li><a href="{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i>Follow @SoftLayerDevs</a></li>
        </ul>
      </div>

      <div class="container">
      {% if page.slug == "landing" %}
        <img src="{{ page.baseurl }}images/logo-white.png" class="navbar-brand">
      {% elsif page.slug != "landing" %}
        <a href="{{ page.baseurl }}"><img src="{{ page.baseurl }}images/logo-black.png" class="navbar-brand"></a>
      {% endif %}
      </div>