<ul class="social-twitter">
  <li class="follow-btn">
    <a href="{{ site.twitter }}" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @SoftLayerDevs</a>
  </li>
  <li class="tweet-btn">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.pubic_url }}" data-count="horizontal" data-via="SoftLayerDevs" data-related="SoftLayer, an IBM Company">Tweet</a>
  </li>
</ul>

Looking for an open cloud platform that does more? Start with the Jumpgate solution built for #OpenStadk, powered by #SoftLayer.