<!DOCTYPE html>
<html lang="en">
  <head>
      
      {% include header.html %}
  
  </head>
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>
      
      {% include main-pages.html %}

    <div class="header" id="content">
      <div class="container">
      </div>
    </div>

    <div class="container docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="sidebar hidden-print" role="complementary">
            <ul class="nav sidenav">
              
              {% if page.slug == "release-notes" %}
                {% include nav-release-notes.html %}
              {% elsif page.slug == "learn-more" %}
                {% include nav-learn-more.html %}
              {% elsif page.slug == "getting-started" %}
                {% include nav-getting-started.html %}
              {% endif %}
            
            </ul>
          </div>
        </div>
        <div class="col-md-9" role="main">
          
              {{ content }}
          
        </div>
      </div>
    </div>
    <footer class="footer" role="contentinfo">
      <div class="container">
        
              {% include footer.html %}
      
      </div>
    </footer>
  </body>
</html>